/*
 * This script is used to control the appearance of the GUI windows created
 * through Qt.
 */

*[invalidPath="true"] {
    color: #a31f18;
}

Header {
    font-size: 24px;
    font-family: "Lato";
    font-weight: bold;
    color: #333333;
}
